<div id="<%= dom_id post %>">
  <h2><%= post.title %></h2>
  <p><%= post.body %></p>
  <p>Slug: <%= post.slug %></p>
  <p>Tags:
    <% post.tags.each do |tag| %>
      <%= link_to tag.name, "#" %>
    <% end %>
  </p>
</div>
